/* BLOG PAGE CSS */
.blog-list-sec {
    padding: 200px 0 220px;
}

.blog-list-sec .blog-list-heading {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 570px;
    margin-bottom: 78px;
}

.cs-list-filter {
    display: flex;
    gap: 42px;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 59px;
    overflow-y: auto;
}

.cs-list-filter .filter-item {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'PP Supply Mono';
    position: relative;
    white-space: nowrap;
    transition: all 0.3s ease;
    color: rgba(170, 170, 170, 0.6);
}

.cs-list-filter .filter-item.active {
    margin-right: 3px;
}

.cs-list-filter .filter-item .count {
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 1.2;
    position: absolute;
    right: -23px;
    top: -12px;
}

.cs-list-filter .filter-item .label {
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

.cs-list-filter .filter-item.active {
    color: #fff;
}

.cs-list-filter .filter-item:hover {
    color: #fff;
}

.blog-list-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #2B2B2B;
    border-left: 1px solid #2B2B2B;
}

.blog-list-main .blog-card {
    padding: 39px 19px 19px 23px;
    border-right: 1px solid #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    justify-content: space-between;
}

.blog-list-main .blog-card .title {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0;
    position: relative;
}

.blog-list-main .blog-card .meta {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
    line-height: 1.2;
}

.blog-list-main .blog-card .meta .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.blog-list-main .blog-card .meta .cate {
    color: #AAAAAA;
}

.blog-list-main .blog-card .blog-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.blog-list-main .blog-card:hover .blog-img {
    opacity: 1;
}

.blog-list-main .blog-card-link {
    position: absolute;
    inset: 0;
}

.blog-loadmore {
    margin-top: 32px;
    text-align: center;
}

.blog-cta-sec {
    position: relative;
    padding: 55px 0 270px;
    overflow: hidden;
}

.blog-cta-bg {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
    transform: rotate(-180deg);
}

.cs-single-blog-page .blog-cta-bg {
    transform: none;
}

.blog-cta-sec::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 123px;
    background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
    pointer-events: none;
    z-index: 1;
}

.blog-cta-main {
    position: relative;
    z-index: 3;
}

.blog-cta-main .heading {
    font-family: 'Neue Montreal';
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
}

.blog-cta-main .desc {
    font-size: 20px;
    line-height: 1.4;
    max-width: 570px;
    margin-bottom: 32px;
}

.form-subscribe {
    max-width: 519px;
}

.form-subscribe .mc-form-inner {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 6px;
}

.form-subscribe input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 26px;
    font-size: 20px;
    line-height: 27px;
    border-radius: 8px;
}

.form-subscribe input::placeholder {
    color: #999;
}

.form-subscribe .mc-submit {
    font-family: 'Neue Montreal';
    display: inline-flex;
    align-items: center;
    background: #151515;
    color: #fff;
    border: none;
    padding: 13px 60px 13px 13px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #151515;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.form-subscribe .mc-submit:hover {
    background-color: #fff;
    color: #151515;
}

.form-subscribe .mc-submit svg {
    position: absolute;
    right: 4px;
    top: 6px;
    width: 32px;
    height: 32px;
    transition: all 0.3s ease-in-out;
}

.form-subscribe .mc-submit:hover svg {
    top: 0;
    right: 0;
}

/* Single Blog */
.cs-breadcrumb {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2;
}

.cs-breadcrumb a:hover {
    color: #ffffff;
}

.cs-breadcrumb span {
    color: rgba(255, 255, 255, 0.5);
}

.cs-breadcrumb .current {
    color: #ffffff;
}

.cs-breadcrumb .slash {
    font-size: 20px;
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.article-hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 152px 0 40px;
    position: relative;
}

.article-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 78.37%),
        linear-gradient(101.55deg, rgba(0, 0, 0, 0) 61.37%, rgba(0, 0, 0, 0.4) 91.64%);
    pointer-events: none;
}

.article-hero-main {
    position: relative;
    min-height: 551px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.article-hero-bottom {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
}

.article-hero .title {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    flex: 1;
}

.article-hero .article-details {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    padding: 23px 15px;
    min-width: 194px;
    margin-bottom: 11px;
}

.article-hero .article-details-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 24px;
}

.article-hero .article-details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10px;
}

.article-hero .article-details ul li {
    position: relative;
    font-size: 16px;
    line-height: 1.2;
    padding-left: 15px;
}

.article-hero .article-details ul li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.article-content .container {
    max-width: 800px;
}

.article-content {
    font-family: 'Neue Montreal';
    background-color: #fff;
    color: #000;
    font-size: 20px;
    line-height: 1.4;
    padding: 32px 0 80px;
}

.article-content h1 {
    font-size: 56px;
    margin-bottom: 32px;
    padding-top: 28px;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    line-height: 1.2;
}

.article-content h2 {
    font-size: 40px;
    margin-bottom: 32px;
    padding-top: 28px;
}

.article-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 0;
}

.article-content h4 {
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 0;
}

.article-content h5 {
    font-size: 18px;
    margin-bottom: 12px;
    letter-spacing: 0;
}

.article-content h6 {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 0;
}

.article-content p {
    margin-bottom: 32px;

}

.article-content ul {
    list-style: none;
    margin-top: -12px;
    padding-bottom: 32px;
}

.article-content img {
    aspect-ratio: 760/365;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 60px 0 32px;
}

.article-content img:first-of-type {
    margin-top: 40px;
}

.article-related {
    padding: 80px 0 103px;
}

.article-related-heading {
    font-size: 60px;
    line-height: 1.2;
    font-family: 'Neue Montreal';
    margin-bottom: 60px;
}

.blog-cta-sec .img-deco {
    position: absolute;
    top: 35%;
    right: -43px;
    width: 231px;
}

@media (max-width:1024px) {

    /* BLOG PAGE */
    .blog-list-main {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-list-sec .blog-list-heading {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .blog-list-main .blog-card .blog-img {
        opacity: 1;
    }

    .blog-list-sec {
        padding: 180px 0 120px;
    }

    .blog-cta-sec {
        padding-bottom: 180px;
    }

    .blog-cta-main .heading {
        font-size: 45px;
    }

    .article-hero .title {
        font-size: 60px;
    }

    .article-hero .article-details {
        margin-bottom: 0;
    }

    .article-hero-main {
        min-height: 450px;
    }

    .article-related-heading {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width:767px) {
    /* BLOG PAGE */

    .blog-list-sec .blog-list-heading {
        font-size: 40px;
        margin-bottom: 0;
    }

    .blog-list-sec {
        padding: 122px 0 60px;
    }

    .cs-list-filter .filter-item .label {
        font-size: 12px;
    }

    .cs-list-filter {
        justify-content: stretch;
        padding-top: 37px;
        gap: 25px;
        margin-bottom: 30px;
    }

    .cs-list-filter .filter-item .count {
        font-size: 9px;
        top: -4px;
    }

    .cs-blog-page .insights-list-mb .insights-item .image,
    .cs-single-blog-page .insights-list-mb .insights-item .image {
        margin-bottom: 12px;
    }

    .cs-blog-page .insights-list-mb .insights-info,
    .cs-single-blog-page .insights-list-mb .insights-info {
        font-size: 16px;
    }

    .cs-blog-page .insights-list-mb .insights-item .title,
    .cs-single-blog-page .insights-list-mb .insights-item .title {
        margin-bottom: 8px;
    }

    .cs-blog-page .insights-list-mb .insights-item,
    .cs-single-blog-page .insights-list-mb .insights-item {
        padding-bottom: 36px;
    }

    .blog-loadmore {
        margin-top: 24px;
    }

    .blog-cta-main .heading {
        font-size: 40px;
        max-width: 70%;
        margin-bottom: 300px;
    }

    .blog-cta-main .desc {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    .form-subscribe input {
        padding: 6px 10px;
        font-size: 16px;
    }

    .form-subscribe .mc-form-inner {
        padding: 2px 4px 2px 2px;
    }

    .form-subscribe .mc-submit {
        padding: 7px 36px 7px 11px;
        font-size: 16px;
        line-height: 19px;
    }

    .form-subscribe .mc-submit svg {
        width: 24px;
        height: 24px;
        right: 6px;
        top: 4px;
    }

    .blog-cta-sec {
        padding: 38px 0 40px;
        margin-bottom: 20px;
    }

    .blog-cta-bg {
        transform: none;
    }

    .blog-cta-sec::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 111px;
        background: linear-gradient(0deg, #101010 0%, rgba(21, 21, 21, 0) 100%);
        pointer-events: none;
        z-index: 2;
    }

    .article-hero-bottom {
        display: flex;
        flex-direction: column;
        gap: 218px;
        justify-content: space-between;
        align-items: start;
    }

    .article-hero .title {
        font-size: 40px;
        text-transform: uppercase;
    }

    .article-hero {
        padding: 95px 0 24px;
    }

    .article-hero .article-details {
        width: 100%;
        max-width: 280px;
        padding: 15.5px;
    }

    .article-hero .article-details-title {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .article-hero .article-details ul {
        gap: 8px;
        padding-left: 9px;
    }

    .article-hero .article-details ul li {
        font-size: 14px;
        padding-left: 12px;
    }

    .article-content h1,
    .article-content h2,
    .article-content h3,
    .article-content h4,
    .article-content h5,
    .article-content h6 {
        line-height: 1;
    }

    .article-content h2 {
        font-size: 24px;
        margin-bottom: 16px;
        letter-spacing: -0.04em;
        padding-top: 8px;
    }

    .article-content h3 {
        font-size: 20px;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
    }

    .article-content h3 {
        font-size: 20px;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
    }

    .article-content h4 {
        font-size: 18px;
    }

    .article-content h5 {
        font-size: 16px;
    }

    .article-content h6 {
        font-size: 16px;
    }

    .article-content ul {
        margin-top: -4px;
    }

    .article-content {
        font-size: 16px;
        line-height: 22px;
        padding: 52px 0 32px;
    }

    .article-content p {
        margin-bottom: 16px;
    }

    .article-content img {
        margin: 16px 0 8px 0 !important;
        aspect-ratio: 343/183;
    }

    .article-related {
        padding: 32px 0 57px;
    }

    .article-related-heading {
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.04em;
        margin-bottom: 32px;
    }

    .cs-single-blog-page .blog-cta-sec::before,
    .cs-single-blog-page .blog-cta-sec::after {
        display: none;
    }

    .cs-single-blog-page .blog-cta-sec {
        padding: 40px 0;
    }


}